numpy~=2.4.2
arms~=2.1.0
plotting~=0.0.7
seaborn~=0.13.2
matplotlib~=3.10.8
swig~=4.4.1
gymnasium[box2d]~=1.2.3
scikit-learn~=1.8.0
# pip3 install torch torchvision --index-url https://download.pytorch.org/whl/cu126
ipywidgets~=8.1.8